<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/bootstrap/3.3.6/bootstrap.min.css" />
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/index.js"></script>
		<script src="js/check.js"></script>
	</head>

	<body>
		<div id="container">

			<div id="cover" onclick="no_addList()"></div>
			<div id="addList">
				<form class="form-inline" method="post" action="/addList" onsubmit="return check_list()">
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail3">Email address</label>
						<input type="text" class="form-control" name="listName" id="addList_input" placeholder="列表名">
					</div>
					<button type="submit" class="btn btn-primary">提 交</button>
				</form>
			</div>

			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#"> <%=userName %> &nbsp;&nbsp;| </a>
						<a class="navbar-brand" id="logout" href="/logout">退出</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li <%if(list_flag==1 ){%> class="active"<%} %> >
								<a href="/index?list=1">我的一天</a>
							</li>
							<li <%if(list_flag==2 ){%> class="active"<%} %> >
								<a href="/index?list=2">正在进行</a>
							</li>
							<li <%if(list_flag==3 ){%> class="active"<%} %> >
								<a href="/index?list=3">已经完成</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">自定义列表<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<%var listName='';for(var i=0;i<lists.length;i++){ %>
										<%if(lists[i].id == list_flag)listName = lists[i].title; %>
									<li class="list" <%if(list_flag==lists[i].id){%> class="active"<%} %> >
										<a style="float: left;" href="/index?list=<%=lists[i].id %>">
											<%=lists[i].title %>
										</a>
										<span class="glyphicon glyphicon-remove-sign icon" onclick="removeList(<%=lists[i].id %>,<%=list_flag %>)"></span>
										<div class="clear"></div>
									</li>
									<%} %>
									<li role="separator" class="divider"></li>
									<li>
										<a href="#" onclick="addList()">
											<span class="glyphicon glyphicon-plus"></span> &nbsp;&nbsp;&nbsp;新建列表
										</a>
									</li>
								</ul>
							</li>
						</ul>

						<form class="navbar-form navbar-right" method="post" action="/search" onsubmit="return check_search()">
							<div class="form-group">
								<input type="text" id="search_input" name="search" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search search_icon" aria-hidden="true"></span>
						</button>
						</form>
					</div>
				</div>
			</nav>
			<div class="container">
				<div style="text-align: center; background: rgb(236,241,245);font-size: 50px;"><%=listName %></div>
				<table class="table table-bordered table-striped table-hover">
					<tr>
						<th width="20%">标题</th>
						<th width="20%">备注</th>
						<th width="20%">时间</th>
						<th width="20%">紧急度</th>
						<th width="10%">状态</th>
						<th width="10%">操作</th>
					</tr>
					<%if(contents.length == 0){ %>
					<tr>
						<td colspan="6">这里竟然啥都没有，主人好懒的。。。</td>
					</tr>
					<%} %>
					<%for(var i=0;i<contents.length;i++){ 
						let color = "greenyellow";
						let mess = "一般";
						if(contents[i].urgent == 2){
							color = "orange";
							mess = "重要";
						}else if(contents[i].urgent == 3){
							color = "red";
							mess = "立刻";
						}
						let done = contents[i].isdelete==1?"greenyellow":"orange";
					%>
					<tr>
						<td>
							<%=contents[i].title %>
						</td>
						<td>
							<%=contents[i].message %>
						</td>
						<td>
							<%=contents[i].time %>
						</td>
						<td style="color: <%=color %>;">
							<%=mess %>
						</td>
						<td style="color: <%=done %>;">
							<%=list_flag == 3?"已经完成":"正在进行" %>
						</td>
						<td>
							<%if(list_flag != 3){ %>
							<a href="/deleteThing?id=<%=contents[i].id %>&list=<%=list_flag %>">完成</a>
							<a href="#" onclick="updateThing('<%=contents[i].title%>','<%=contents[i].message%>','<%=contents[i].time%>','<%=contents[i].urgent%>','<%=contents[i].id%>')">修改</a>
							<%}else{ %>
							<a href="/removeThing?id=<%=contents[i].id %>">彻底删除</a>
							<%} %>
						</td>
					</tr>
					<%} %>
					<%if(list_flag != 3 && list_flag != -1){%>
					<tr>
						<form method="post" id="myform" action="/addThing?list=<%=list_flag %>" onsubmit="return check_form()">
							<td>
								<input type="text" name="title" id="title" class="form-control" placeholder="标题">
							</td>
							<td>
								<input type="text" name="message" id="message" class="form-control" placeholder="备注">
							</td>
							<td>
								<%var year = new Date().getFullYear();var month = new Date().getMonth()+1;var day = new Date().getDate()%>
								<input type="text" name="year" id="year" value="<%=list_flag==1?year:'' %>" class="form-control time" placeholder="年">
								<div class="sparator">-</div>
								<input type="text" name="month" id="month" value="<%=list_flag==1?month:'' %>" class="form-control time" placeholder="月">
								<div class="sparator">-</div>
								<input type="text" name="day" id="day" value="<%=list_flag==1?day:'' %>" class="form-control time" placeholder="日">
							</td>
							<td>
								<label class="radio-inline">
								  <input type="radio" name="urgent" id="urg1" value="1" checked="checked"> 一般
								</label>
								<label class="radio-inline">
								  <input type="radio" name="urgent" id="urg2" value="2"> 重要
								</label>
								<label class="radio-inline">
								  <input type="radio" name="urgent" id="urg3" value="3"> 立刻
								</label>
								<div class="clear"></div>
							</td>
							<td colspan="2">
								<button type="submit" style="width: 30%;" class="btn btn-primary">提   交</button>
								<a href="#" style="width: 30%;height: 34px; display: none;" id="quxiao" onclick="quxiao('<%=list_flag %>')" class="btn btn-orange">取   消</a>
							</td>
						</form>
					</tr>
					<%} %>
				</table>
			</div>
		</div>
	</body>

</html>